body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 20% 80%;
    height: 100%;
    width: 100%;
}

.sidebar {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: lightblue;
    grid-template-rows: 10% 30% 50%;
}

.sidebar p,
.sidebar h1 {
    margin-left: 10px;
}

.branding {
    margin-top: 40px;
}


.header {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 50px;
    padding-right: 120px;
}

.top-header {
    display: grid;
    grid-template-columns:  60% 40%;
    grid-column: 1/3;
    grid-row: 1/2;
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 30px;
}

.search-icon {
    width: 30px;
}

.search-btn {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    width: 30px;
    height: auto;
}

#search-input {
    width: 100%;
    padding: 4px;
    border-radius: 20px;
    border: 2px solid #cfcaca;
    background-color: #cfcaca;
    font-size: 20px;
}

#search-input:focus {
    border: 2px solid;
    background-color: white;
    outline: none;
}

.alert-icon {
    width: 30px;
}

.alert-btn {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    width: 25px;
    height: auto;
}

.side-pf-container {
    display: flex;
    justify-content: right;
    gap: 30px;
    margin-right: 10px;
}

.side-pfp {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.bottom-header {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column: 1/3;
    grid-row: 2/3;
}

.main-pf-container {
    display: flex;
    gap: 50px;
}

.main-pfp {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.greetings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greet {
    font-size: 18px;
    margin: 0;
}

.main-username {
    font-size: 28px;
    margin: 0;
    padding-top: 10px;
}

.post-btns-container {
    display: flex;
    justify-content: right;
    gap: 30px;
    align-items: center;
    
}

.post-btn{
    border-radius: 20px;
    width: 100px;
    height: 40px;
    border: none;
    background-color: aqua;
}

.content {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 72% 28%;
    background-color: rgb(212, 205, 205);
}

.left-content {
    grid-column: 1/2;
    padding: 10px;
}

.project-header {
    margin-left: 30px;

}

.project-post {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.post {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
    height: 200px;
    justify-content: center;
    margin: 0 8px 16px;
    padding-left: 20px;
    border-radius: 10px;
}

.right-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
}


.announce-container {
    grid-row: 1/2;
}

.announce-post-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: auto;
    padding: 0 10px;
    border-radius: 10px;
}

.announce-post {
    height: 100px;
    margin: 15px;
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;
}

.announce-post h4 {
    margin-bottom: 0;
    font-size: 18px;
}

.announce-post p {
    margin-top: 0;
}


.divider {
    width: 100%;
    background-color: rgb(185, 184, 184);
    height: 1px;
}

.trend-container {
    grid-row: 2/3;
}

.sidebar img {
    width: 25px;
}

.dashboard-icon {
    width: 35px;
}

.iconText {
    display: flex;
    margin-left: 30px;
}